
         <amp-form method="post" action="{% url 'Account:signup' %}" target="_top">
             <fieldset>
             {% csrf_token %}
             <table>
                <tr><th><label for="id_username">Username:</label></th><td><input type="text" name="username" maxlength="50" id="id_username"></td></tr>
                <tr><th><label for="id_email">Email:</label></th><td><input type="email" name="email" maxlength="255" required id="id_email"></td></tr>
                 <tr><th><label for="id_room_number">Room number:</label></th><td><div class="input-field col s12"><select name="room_number" required id="id_room_number">
                     <option value="" disabled selected>---------</option>
                     <option value="101">101</option>
                     <option value="102">102</option>
                     <option value="103">103</option>
                     <option value="202">202</option>
                     <option value="211">211</option>
                 </select></div></td></tr>
                 <tr><th><label for="id_year">Year:</label></th><td><div class="input-field col s12"><select name="year" required id="id_year">
                     <option value="" disabled selected>---------</option>
                     <option value="2">2nd</option>
                     <option value="3">3rd</option>
                     <option value="4">4th</option>
                 </select></div></td></tr>
                 <tr><th><label for="id_veg">Veg:</label></th><td><input type="checkbox" name="veg" id="id_veg"></td></tr>
                 <tr><th><label for="id_password">Password:</label></th><td><input type="password" name="password" required id="id_password"></td></tr>
                 <tr><th><label for="id_password2">Confirm password:</label></th><td><input type="password" name="password2" required id="id_password2"></td></tr>
                 <tr>
                     <td></td>
                     <td><input type="submit" name="submit" value="signup" /></td>
                 </tr>
             </table>
             </fieldset>
             <div submit-success>
                 <template type="amp-mustache"> successful!
                 </template>
             </div>
             <div submit-error>
                 <template type="amp-mustache">
                      failed!
                 </template>
             </div>
         </amp-form>