{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block title%}
Signup
{%endblock%}

{% block preloader %}
<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
{% endblock %}

{% block body %}
<div>
    {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    <h3>Create account RBC Hall</h3>

         <amp-form method="post" action="{% url 'Account:signup' %}" target="_top">
             <fieldset>
             {% csrf_token %}
             <table>
                 {{ form.as_table}}
                 <tr>
                     <td></td>
                     <td><input type="submit" name="submit" value="signup" /></td>
                 </tr>
             </table>
             </fieldset>
             <div submit-success>
                 <template type="amp-mustache"> successful!
                 </template>
             </div>
             <div submit-error>
                 <template type="amp-mustache">
                      failed!
                 </template>
             </div>
         </amp-form>
</div>

{% endblock %}

{% block script %}
<script src="{% static "js/custome.js" %}"></script>
{% endblock %}