
### this file is to configure the files which are to be ignored by git commits from being uploaded to git, such as personal info in the db ###

### for virtual env ###
.env
.venv
env/
venv/
ven/
ENV/
env.bak/
venv.bak/

### for database ##
*.sqlite3


### for media ###
media/*

### for python compile files###
*.pyc

### for migrations ##
migrations/*
__pycache__/*

.idea
datadump.json
.vscode
*.sublime-project
*.sublime-workspace
