
### this file is to configure the files which are to be ignored by git commits from being uploaded to git, such as personal info in the db ###

### for virtual env ###
.env
.venv
env/
venv/
ven/
ENV/
env.bak/
venv.bak/

### for database ##
*.sqlite3
sarbesh$RBC


### for media ###
media/*
static_cdn/*
### for python compile files###
*.pyc

### for migrations ##
migrations/
__pycache__/*

#### for IDE ###
.idea
datadump.json
.vscode
*.sublime-project
*.sublime-workspace

*/migrations/
/migrations/*
*/migrations/*
## global rules###
.DS_STORE

# Virtualenv related
bin/
include/
pip-selfcheck.json
.idea/workspace.xml


# Django related
rbcweb/settings/local.py
# src/<yourproject>/settings/local.py
# static-cdn/  # any collected static files


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

#IDE's
.idea/
.vscode/
