.corousal-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
    font-family: 'Raleway';
    text-transform: uppercase;
}
.corousal-text .corousal-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.corousal-text .corousal-heading-lower {
  font-size: 4rem;
  font-weight: 100;
  line-height: 4rem;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
body {
    padding-top: 75px;
}