{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block title%}
Signup
{%endblock%}

{% block preloader %}

{% endblock %}

{% block body %}
<div >
    {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    <h3>Create RBCian Account</h3>

    <amp-form method="post" target="_top" action="Account/signup/">
             <fieldset>
             {% csrf_token %}
             <table>
                 {{ form.as_table}}
                 <tr>
                     <td></td>
                     <td>
                     <button class="btn waves-effect waves-light" type="submit" name="action" value="signup">Submit
                        <i class="material-icons right">cloud</i>
                     </button></td>
                 </tr>
                 </table>
             </fieldset>
             <div submit-success>
                 <template type="amp-mustache"> successful!
                 </template>
             </div>
             <div submit-error>
                 <template type="amp-mustache">
                      failed!
                 </template>
             </div>
         </amp-form>
</div>

{% endblock %}

{% block script %}

{% endblock %}