{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block title%}
{{title}}
{%endblock%}

{% block preloader %}

{% endblock %}

{% block body %}
<div class="container" >
    {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    <h3>{{title}} to RBCian Account</h3>

    <form method='POST' action="{% url 'home:signup' %}">
        {% csrf_token %}
        <table>
            {{ form_signup.as_table}}
            <tr>
                <td></td>
                <td>
                    <button type='submit' class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
        <form>

            <form method='POST' action="{% url 'home:login' %}">
        {% csrf_token %}
        <table>
            {{ form_login.as_table}}
            <tr>
                <td></td>
                <td>
                    <button type='submit' class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
        <form>
</div>

{% endblock %}

{% block script %}

{% endblock %}